<footer class="page-footer font-small bg-secondary pt-4">

<div class="containe">
    <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
            <h4 class="text-white"> Conecte-se Comigo Pelas Redes Sociais 😉</h4>

        </div>
    </div>
<div class="row">
<div class="col-md-12 d-flex justify-content-center">
<ul class="social-network">
    <li>
        <a href="https://www.facebook.com/stelviojosimar.maria" target="_blank" style="margin-right: 10px;"
        class="icoFacebook">
        <i class="fa fa-facebook"></i>
         </a>
        </li>

    <li>
        <a href="https://web.whatsapp.com/send?phone=5511981146092 " target="_blank" style="margin-right: 10px;"
        class="icoWhatsapp">
        <i class="fa fa-whatsapp"></i>
       </a>
    </li>
         
    <li>
        <a href="https://github.com/StelvioSM" target="_blank" style="margin-right: 10px;"
        class="icoGitHub">
        <i class="fa fa-github"></i>
        </a>
 </li>
         <li>
            <a href="https://www.linkedin.com/in/stelvio-alexandre-smith-976161209/" target="_blank"style="margin-right: 10px;"
            class="icoLinkedin">
            <i class="fa fa-linkedin"></i>
           </a>

         </li>
        
         <li>
            <a href="https://www.instagram.com/silvio.smith/" target="_blank" style="margin-right: 10px;"
            class="icoInstagram">
            <i class="fa fa-instagram"></i>
            </a>
         </li> 
</ul>

</div>
</div>
</div>

<div class="footer-copyright bg-dark py-2 col-md-12 d-flex justify-content-center">
    <span class="text-light">@2021 Copyright : </span>
    <a class="text-light" target="_light" href="https://mail.google.com/mail/u/0/?tab=km#search/SilvioSmith18%40gmail.com" > Meu.E-mail </a>
</div>


</footer>
