ul.social-network{
    list-style: none;
    padding: 0;
}
ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}
.fa{
    font-size: 35pt;
    color:white ;
    padding: 10px;
}

.fa-fa-facebook-square:hover{
    color: #3b5998;
}

.fa-fa-whatsapp:hover{
    color: chartreuse;
}

.fa-fa-github:hover{
 color: black;   
}
.fa-fa-instagram:hover{
    color:#c13584 ;
}
.fa-fa-linkedin-square:hover{
    color: #0072b1;
}