<nav class="navbar navbar-expand-lg navbar-light bg-info">
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
      <ul class="navbar-nav ml-auto d-flex align-items-center">
        <li class="nav-item active">
            <img src="https://scontent.fcgh3-1.fna.fbcdn.net/v/t1.6435-9/134798826_1530286803844237_6236879626391614200_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=8T0aTKykiCAAX-1Q_zd&_nc_ht=scontent.fcgh3-1.fna&oh=bd7788fb0b2236ea41a55460dec1f74c&oe=6149B555" alt="imagem do usuario" width="50px" height="50px" class="img-fluid rounded-circle">
        </li>
        <li class="nav-item pl-3">
        <p class="m-0 font-weight-bold text-white .fs-18" > Nome do Usuario (a)</p>
        </li>

        <li class="nav-item pl-3">
            <a href="">
                <p class="text-white fs-18 m-0"><i class="fa fa-pencial-square-o" 
                aria-hidden="true"></i></p>
            </a>
          
            </li>
      </ul>
     
      <ul class="navbar-nav m-auto d-flex align-items-center">
      <li class="nav-item pl-3">
      <a class="m-0 font-weight-bold text-white fs-18"> Sair <i class="fa fa-sign-out"aria-hidden="true"></i></a>
      
      </li>
      </ul>

    </div>
  </nav>